/* Login panel */

.login-panel .card-title{
    margin: 30px auto;
}
.login-panel .card-body{
    color: var(--grey-text);
}
.login-logo{
    margin-bottom: 10px;
}
.manager-login{
    padding-right: 35px;
    border-right-width: 2px;
    border-right-style: solid;
    border-image: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0),
        rgb(224, 224, 224), 
        rgba(0, 0, 0, 0)
      );
    border-image-slice: 20%;
}
.manager-login legend, .manager-login fieldset, .employee-login legend, .employee-login fieldset{
    margin-bottom: 20px;
}

@media screen and (max-width: 960px){
	main {
		min-height: 130vh;
		padding-bottom:300px;
	}
    .manager-login{
        border: none;
    }
}
@media screen and (max-width: 768px){
	main {
		min-height: 150vh;
    	padding-bottom: 400px;
	}
}
@media screen and (max-width: 610px){
	main {
		min-height: 180vh;
    	padding-bottom: 500px;
	}
}